
body {
    font-family: sans-serif;
    background: darkcyan;
 
}

h1, h2 {
    color: white;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campos {
    color: white;
}

.campos input {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.button button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: aquamarine;
    color: black;
    outline: none;
    margin-bottom: 10px;
}

.palavras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 400px) {
    .palavras {
        width: 300px;
    }
}