body {
    background-color: rgb(62, 166, 201);
    font: normal 15 pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.300);
}

select {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}